
.header__container {
    background-image: url("../img/header.jpg");
    width: 100%;
    height: 835px;
    position: relative;
    background-attachment:fixed;
}

.header__content{
    background-color: #041122;
    display: flex;
    justify-content: space-between;
}

.overlay {
    position: absolute;
    background-color: rgba(17, 17, 17, 0.4);
    width: 100%;
    height: 835px;
}

.logo{
    cursor: pointer;
    font-size: 45px;
    color: whitesmoke;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}

.logo__first{
    border: red solid 2px;
    background-color: red;
    opacity: 0.8;
    font-family:"Raleway";
}

.logo__second{
    border: red solid 2px;
    font-family: Raleway;
    background-color: black;
    color: whitesmoke;
    opacity: 0.8;
}

ul{
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    font-size: 30px;
    font-family: ;
    margin-top: 45px;
    margin-right: 35px;
}

li{
    position: relative;
    padding:0 20px 0 20px;
    cursor: pointer;
    opacity: 0.7;
}

li:hover{
    opacity: 1;
    text-decoration: underline red;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    opacity: 1;
    text-decoration: underline red;
}
.content__part{
    max-width: 50%;
    margin: 0 auto;
    text-align: center;

}

.header__tittle{
    padding-top: 200px;
    font-size: 55px;
    color: whitesmoke;
    position: relative;
    font-family: Raleway;
    font-weight: 900;

}

.header__subtitle{
    max-width: 950px;
    padding-top: 25px;
    font-size: 35px;
    color: whitesmoke;
    position: relative;
    font-family: Mantserrat;
    background-color: rgba(114,126,135,0.3);
    text-transform: uppercase;


}

.subtitle__overlay{
    width: auto;
    height: 150px;
    background-color: grey;
    position: absolute;
    opacity: 0.2;
}

.call__btn{
    margin-top: 60px;
}

button{
    font-size: 35px;
    border: solid 2px #E62818;
    color: #E62818;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    background-color: black;
    opacity: 0.7;

}

button:hover{
    background-color: red;
    color: whitesmoke;
    opacity: 0.9;
}

.brands{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.brand__box{
    display: flex;
    margin-top: 100px;
}

.brands{
    width: 50%;
    align-items: center;
    padding-top: 50px;
}

.brand__title{
    font-family: "Raleway";
    font-weight: bolder;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
}

.why__container{
    margin-top: 100px;
    background-image: url("../img/bucket2.jpg");
    width: 100%;
    height: 650px;
    background-attachment:fixed;
}

.container__overlay{
    position: absolute;
    background-color: rgba(17, 17, 17, 0.6);
    width: 100%;
    height: 650px;
}

.content__section{
    width: 75%;
    margin: 0 auto;
    position: relative;
    /*background-color: red;*/
    padding-top: 50px;
}

.section__tittle{
    color: whitesmoke;
    font-size: 65px;
    font-family: Raleway;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline red;
}

.item__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    width: 75%;
    margin: 0 auto;
    position: relative;
    /*background-color: black;*/
}

.item{
    width: 25%;
    text-align: center;

}

.icon{
    width: 150px;
    height: 150px;
    color: white;
    cursor: pointer;
}

.item__tittle{
    margin-top: 25px;
    color: whitesmoke;
    font-size: 35px;
    font-family: Raleway;

}

.item__tittle:hover{
    cursor: pointer;
    background-color: red;
    border-radius: 2%;
}

.services__container{
    margin-top: 65px;
    text-align: center;
}
.title{
    font-size: 45px;
    width: 25%;
    margin: 0 auto;
    font-family: Raleway;
    font-weight: bolder;
    text-decoration: underline red;
}
.item__container{
    width: 100%;
    margin: 0 auto;

}
.service__item{
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
}
.service__title{
    font-family: Raleway;
    font-size: 30px;
    padding-top: 10px;
    font-weight: bolder;
}
.service__subtitle{
    font-family: Raleway;
    font-size: 20px;
    padding-top: 10px;
}

.items{
    width: 25%;
    cursor: pointer;
}
hr{
    color: red;
    size: 3px;
}
.section__kontakt{
    margin-top: 100px;
    width: 100%;
    height: 680px;
    display: flex;
}
.header{
    color: darkslategray;
    font-size: 55px;
    text-align: center;
    font-family: Raleway;
    font-weight: bold;
    margin-top: 100px;
    text-decoration: underline red;
}

.kontakt__address{
    width: 50%;
    height: 680px;

}
.kontant{
    color: darkslategray;
    font-size: 45px;
    text-align: center;
    font-family: Raleway;
    font-weight: bold;
}
.adress{
    color: red;
    font-size: 30px;
    font-family: Mantserrat;
    margin-top: 55px;
    text-align: center;
}
.tel{
    color: darkslategray;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    font-family: Raleway;
    margin-top: 55px;
}
.num{
    color: red;
    font-size: 30px;
    font-family: Mantserrat;
    margin-top: 45px;
    text-align: center;
}
.time{
    color: darkslategray;
    font-size: 45px;
    text-align: center;
    font-family: Raleway;
    font-weight: bold;
    margin-top: 55px;
}
.days{
    color: red;
    font-size: 30px;
    font-family: Mantserrat;
    margin-top: 45px;
    text-align: center;
}
.kontakt__map{
    width: 50%;
    height: 100%;
}
.map{
    width: 100%;
    height: 65%;
    margin-top: 55px;
    align-content: center;
}
.kontakt__bro{
    width: 50%;
    height: 680px;
    align-items: center;

}
.logo__brocar{
    padding-left: 180px;
}
.logo__bro{
    width: 60%;
}
.about__us{
    color: darkslategray;
    font-size: 45px;
    text-align: center;
    font-family: Raleway;
    font-weight: bold;
}
.text{
    margin-top: 55px;
    padding-right: 15px;
    text-align: center;
    color: red;
    font-size: 25px;
    font-style: italic;
}